<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
   <title> homepage</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<!--<script type="text/javascript" src="../scripts/index_script.js"></script>-->
</head>
<body>
	<div class="container">
	<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
	  <div class="nav navbar-nav">
	    <a href="/" class="btn btn-warning btn-lg active" role="button">Home</a>
	    <div class="btn-group">
	      <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="activeRooms()">
	        Active Chatrooms
	      </button>
	      <div class="dropdown-menu" >
	      	<ul id="dropdown">
	      	</ul>
	      </div>
	    </div>
	  </div>
	</nav>
	</div>

	<center>
	<a href="/generate"><button type="button" class="btn btn-primary btn-lg" id='chatBtn'>Create</button></a>
	</center>
	<script>
		var socket = io.connect();
		var list = document.getElementById('dropdown'); 
		function activeRooms(){
			console.log("called"); 
			socket.emit('getRooms', function(rooms){
				//print out the rooms to the buttons 
				for(var i=0; i<rooms.length; i++){
					var li = document.createElement('li'); 
					li.innerHTML = '<a href="/'+rooms[i]+'">'+rooms[i]+'</a>'; 
					list.appendChild(li); 
				}
			});
		}
	</script>

</body>
</html>





